body {
  /* margin: 0; */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
  background-color: #7f8bca;
  /* color:aliceblue; */
}

.tracks {
  display: flex;
  justify-content: center;
  height: 420px;
  width: 450px;
  border-radius: 10px;
  background-color:#4a5075;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.9);
  overflow-y: auto;
}
.tracks::-webkit-scrollbar {
  width: 8px; /* Width of the scroll bar */
}

.tracks::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Background color of the scroll bar track */
  border-radius: 4px; /* Rounded corners of the scroll bar track */
}

.tracks::-webkit-scrollbar-thumb {
  background-color: #888; /* Color of the scroll bar thumb */
  border-radius: 4px; /* Rounded corners of the scroll bar thumb */
}

.tracks::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Color of the scroll bar thumb on hover */
}
/* .tracks-content{
  display: flex;
  justify-content: center;
} */

.playlist {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Vertically center the contents */
  margin-left: 50px;
  padding-left: 10px;
  padding-right: 10px;
  width: 200px;
  height: 30px;
  background-color: rgb(223, 223, 223);
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
  margin-top: 10px;
  white-space: nowrap;
  overflow: hidden; 
}

.song {
  display: flex;
  align-items: center;
  /* margin-left: 50px; */
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 10px;
  width: 350px;
  height: 50px;
  background-color: #4a5075;
  font-size: 14px;
  color: whitesmoke;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
  margin-top: 10px;
}

.songInfo {
  display: flex;
  flex-grow: 0;
  flex-direction: column;
  justify-content: center;
  /* margin-right: 10px; */
}

.album-cover {
  width: 40px; /* Adjust the size as needed */
  height: 40px; /* Adjust the size as needed */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.9);
  border-radius: 10px;
}

.album-cover img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

#artist {
  margin: 0;
  color: darkgray;
  font-size: 14px;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#title {
  margin: 0;
  font-size: 16px;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#title, #album, #artist{
  display: flex;
  width: 150px;
  white-space: nowrap;
   /* Prevent the text from wrapping */
  overflow: hidden; 
  /* Hide any overflow */
  text-overflow: ellipsis; /* Add an ellipsis (...) at the end of the truncated text */
}

